{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight Details</h1>
    <ul>
        <li>Flight ID: {{ flight.id }}</li>
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination: {{ flight.destination }}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>

    <h2>Passengers</h2>
    <ul>
        {% for passenger in flight.passengers.all %}
            <li>{{ passenger.first }} {{ passenger.last }}</li>
        {% empty %}
            <li>No passengers.</li>
        {% endfor %}
    </ul>
{% endblock %} 
